<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head"></head>

<body>

<header th:replace="fragments/nav"></header>

<main class="p-5 align-content-center bg-blur">
    <h1 class="text-dark">
        It seems that we made a small, negligible mistake! <br/>
        Please excuse us, we are working on it...
    </h1>

</main>


<th:block>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
    <br><br><br>
    <footer th:replace="fragments/footer"></footer>
</th:block>

</body>

</html>
